{{- if .Values.namespace.create }}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace.name }}
  labels:
    {{- include "kube-bench-slack.labels" . | nindent 4 }}
    name: {{ .Values.namespace.name }}
    app: security-scanning
{{- end }}
